<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index Page</title>
</head>
<body>
<h1>Index Page</h1>
<hr>
<button id="get" onclick="getData()">Get 요청(파라미터 없음)</button>
<div id="demo_get"></div>
<br>
<button id="get2" onclick="getData2()">Get 요청2(파라미터 있음)</button>
<div id="demo_get2"></div>
<br>
<button id="get3" onclick="getData3()">Get 요청3(파라미터 있음-3개 : MemberDto(name, email, addr))</button>
<div id="demo_get3"></div>

<hr>
<button id="post" onclick="postData()">Post 요청(파라미터 있음)</button>
<div id="demo_post"></div>

<button id="post2" onclick="postData2()">Post 요청2(Json)</button>
<div id="demo_post2"></div>

<script>
	//AJAX
	function getData(){
		const xhttp = new XMLHttpRequest();
		xhttp.onload = function(){
			document.getElementById("demo_get").innerHTML = this.responseText;
		}
		xhttp.open("GET", "/api/v1/get-api/hello");
		
		xhttp.send();
	}
	
	function getData2(){
		const xhttp = new XMLHttpRequest();
		xhttp.onload = function(){
			document.getElementById("demo_get2").innerHTML = this.responseText;
		}
		xhttp.open("GET", "/api/v1/get-api/variable1/123");
		xhttp.send();
	}
	
	function getData3(){
		const xhttp = new XMLHttpRequest();
		xhttp.onload = function(){
			document.getElementById("demo_get3").innerHTML = this.responseText;
		}
		xhttp.open("GET", "/api/v1/get-api/request3?name=배서원&email=bsw0825@naver.com&addr=부산광역시 금정구");
		xhttp.send();
	}
	
	function postData(){
		const xhttp = new XMLHttpRequest();
		xhttp.onload = function(){
			document.getElementById("demo_post").innerHTML = this.responseText;
		}
		xhttp.open("POST", "/api/v1/post-api/member0");
		xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhttp.send("name=배서원&email=bsw0825@naver.com&addr=부산광역시 금정구");
		//xhttp.send();
	}
	
	function postData2(){
		const xhttp = new XMLHttpRequest();
		xhttp.onload = function(){
			document.getElementById("demo_post2").innerHTML = this.responseText;
		}
		xhttp.open("POST", "/api/v1/post-api/member2");
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send('{"name" : "James", "email" : "james@green.com", "addr" : "busan"}');
		//xhttp.send();
	}
	
</script>
</body>
</html>